*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    background-color: #FFFF;
    position: absolute;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}



/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background-color: white;
    padding: 25px;
}

.navbar .links, .navbar .links-info{
    display: flex;
    gap: 2rem;
}

a.underline-on-hover {
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
  }
  
  a.underline-on-hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: #000000; 
    height: 2px;
    transform: scaleX(0);
    transform-origin: center bottom;
    transition: transform 0.3s ease; 
  }
  

  a.underline-on-hover:hover::before {
    transform: scaleX(1);
  }
  


.navbar .links a{
    font-size: 0.9rem;
}

.navbar .toggle_btn{
    font-size: 0.9rem;
    cursor: pointer;
    display: none;
}

.navbar .logo{
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

.logo:hover{
    color:#000;
}

.action_btn{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.sidebar{
    position: absolute;
    background: #f8f8f8;
    left: -300px;
    transition: .4s;
    z-index: 20; 
}

#sidebar.active{
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%;
    transition: .4s;

}

#sidebar ul li{
    list-style: none;
    color: #222;
    font-size: 100%;
    font-weight: 400;
    margin: 10%;
}

#sidebar .toggle_btn{
    position: absolute;
}

.toggle_btn span{
    width: 45px;
    height: 4px;
    background: #000;
    display: block;
    margin-top: 4px;
}

.sidebar .fa-xmark{
    margin-left: 90%;  
    cursor: pointer;  
}

/* DROPDOWN 

.dropdown_menu{
    display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   height: 0;
   width: 300px;
   background: rgba(158, 221, 244, 0.1);
   backdrop-filter: blur(15px);
   overflow: hidden;
   transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   z-index: 1; 
}

.dropdown_menu.open{
    height: 250px;
}

.dropdown_menu li{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.dropdown_menu li a{
    font-size: 0.95rem;
}

.dropdown_menu .first{
    margin-top: 1.3rem;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu .links{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
} */ 

/*RESPONSIVE DESIGN*/

@media(min-width:992px) {
    .sidebar{
        display: none;
    }
}


@media(max-width:992px) {
    .navbar .links-info{
        display: none;
    }

    .navbar{
        justify-content:baseline;
        padding:30px;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .navbar .logo{
        margin-top: 0rem;
    }

    .navbar .links, .navbar .links-info {
        gap: 0rem;
    }

}

/*MAIN*/

main{
    width: 100%;
    height: auto;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 388px;
    height: 766px;
    text-align: center;
    margin-top: 7.3em;
   
}

.header--title-container{
    width: 100%;
    min-width: 468px;
    max-width: 94%;
    height: 766px;
    text-align: center;
    align-self: center;
    background-image: url("https://raw.githubusercontent.com/avsoto/soku/main/img/hero.jpg");
    background-size:cover;
    background-position-y: center;
    background-position-x: center;
}

.header--title-container-text{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.8rem;
    color: white;
    margin-bottom: 1.5%;
}

p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: white;
}

.header--title-container .header--button{
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 210px;
    height: 50px;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    font-size: 0.9rem;

    background-image: -webkit-linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.header--button:hover {
    background-position: 100%;
    color: white;
    border: 2px solid rgb(255, 255, 255);  
}

.slide-button {
    font-size: 0.9rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    border: none;
    padding: 20px 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.slide-button .text-visible,
.slide-button .text-hidden {
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;

}

.slide-button .text-hidden {
    transform: translateY(100%);
    opacity: 0;
}

.slide-button:hover .text-visible {
    transform: translateY(-100%);
    opacity: 0;
}

.slide-button:hover .text-hidden {
    transform: translateY(0);
    opacity: 1;
}

.main-products-container{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 90px;
    align-items: center;
}

.main-products-title .titles{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.title-description{
    margin: 0 1.5vw;
    font-size: 0.9rem;
    font-weight: 300;
}

.separator{
    opacity: .2;
}

.main-products-title h2{
    margin-left: 7%;
    font-weight: 500;
    margin-bottom: 20px;
}


/*PRODUCT*/

.section-p1{
    padding: 40px 50px;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;

}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    /*border: 1px solid #cce7d0;*/
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width: 100%;
    /*border-radius: 20px;*/
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 14px;
}

#product1 .pro .des span{
    padding-top: 7px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgba(0,0,0,0.02);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e1eef7;
    color: #64befb;
    border: 1px solid #d3e6f2;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

@media (max-width: 850px){

    #product1 .pro {
        width: 23%;
        min-width: 250px;
    }


    .section-p1 {
        padding: 20px 20px;
    }
}

@media (max-width: 790px){
    #product1 .pro{
        width: 20%;
    }
    
    #product1 .pro {
    width: 23%;
    min-width: 200px;
}


    .section-p1 {
        padding: 20px 20px;
    }
}

@media (max-width: 580px){
    #product1 .pro{
        width: 50%;
        min-width: 140px;
        
    }
    
    #product1 .pro-container{
        justify-content: center;
    }
    .section-p1 {
        padding: 20px 20px;
    }
}


.section-p1 .slide-button{
    background-color: rgb(246, 246, 247);
}

.product--button{
    position: absolute;
    margin-top: 40px;
    margin-bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 300px;
    height: 50px;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    font-size: 0.9rem;

    background-image: -webkit-linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ffffff 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.product--button:hover {
    background-position: 100%;
    color: #088178;
    border: 2px solid #088178;  
}

/*BANNER*/

.section-p2{
    display: flex;
    padding: 40px 0px;
    margin-top: 20px;
}

#banner{
    min-height: 35vh;
    background: url(/img/banner.png) center center no-repeat;
    background-size: cover;
}

.item {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
  }
  
  .pri {
    align-items: flex-end;
  }

  .item h1 {
    color: black;
    font-weight: 200;
    font-size: 260%;
    margin-bottom: 20px;
  }

  .item h3 {
    color: black;
    padding-top: 10px;
    font-weight: 600;
    font-size: 110%;

}

  .item p {
    font-size: 100%;
    color: black;
    width: 66%;
    padding-bottom: 10px;
    line-height: 25px;
  }

  @media (min-width: 1100px) {
   
    .item h1 {
        font-size: 330%;
    }

    .item h3 {
        font-size: 120%;
    }


    #banner{
        min-height: 35vh;
    }
    

    }
    
  @media (max-width: 1100px) {
    .pri {
        display: none;
      }

    #banner {
        min-height: 50vh;    }
    
    .item p{
        font-size: 100%;
    }
    
    }

    
  
  @media (max-width: 576px) {
    .item {
        padding: 2em;
      }

      .item p{
        font-size: 90%;
    }

  }

/*SET US APART*/

#set-us-apart{
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
}

.set-container{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    flex-wrap: wrap;
    text-align: center;
}


.section-p4{
    padding: 80px 10px;
}

.set-container .set{
    width: 23%;
    min-width: 250px;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
    margin-bottom: 5%;
}

.set-container .info{
    text-align:center;
    padding-top: 10%;
}

#set-us-apart h2{
    color: black;
    font-weight: 300;
    padding-top: 30px;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: -0,75px;
}

.info h3{
    padding-bottom: 7%;
    font-weight: 600;
}

.info span{
    font-weight: 300;
}

.section-p3{
    padding: 40px 10px;
}


@media(max-width: 900px){

    #set-us-apart h2 {
        font-size: 40px;
    }

}


/*MORE INFO*/ 

.info-section{
    margin-left: 10%;
    margin-right: 10%;
}

.more-info-first , .more-info-second{
display: flex;
  min-height: 40vh;
}

.more-info-first {
    margin-bottom: 8%;
}

.more-info{
flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
}

.fi, .sec-sec{
 /*align-items: flex-end;*/
}

.seco{
    background: url('/img/guy-smile.png') center center no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 50%;
  }

.sec-pri{
    background: url('/img/more-glasses.png') center center no-repeat;
    background-size: cover;
    background-position-x: center;

  }

.more-info h1{
    color: black;
    font-size: 250%;
    line-height: 120%;
    text-align: left;
}

span{
    font-size: 95%;
}

.more-info span{
    color: black;
    padding-top:5%;
    padding-bottom: 5%;
    font-weight: 300;
    /*text-align: justify;
     display:block;*/
}

.btn-more-info{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 6px;
    text-align: center;
    font-size: 0.9rem;
    color: rgba(65, 75, 86, 1);
    flex-shrink: 0;
    border: 1px solid rgba(161, 164, 166, 1);;
    border-radius: 100px;
}

.fi .slide-button{
    background-color: rgb(246, 246, 247);
    padding: 6px;    
}

.more-info-second .slide-button{
    background-color: rgb(246, 246, 247);
    padding: 6px;    
}

.fi a{
    text-decoration: none;
    color: rgba(65, 75, 86, 1);
    font-size: calc(9px + 0.390625vw);
    letter-spacing: -0.255px;
}


.sec-sec h1, .more-info-second .description{
    text-align: right;
}

.sec-sec span{
    font-weight: 300;
    /*text-align: justify; 
    display:block;*/
}

.btn-more-info-sec{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 6px;
    text-align: center;
    font-size: 0.9rem;
    color: rgba(65, 75, 86, 1);
    flex-shrink: 0;
    border: 1px solid rgba(161, 164, 166, 1);;
    border-radius: 100px;
    margin-left: auto; 
    margin-right: 0;
}

.sec-sec a{
    text-decoration: none;
    color: rgba(65, 75, 86, 1);
    font-size: calc(9px + 0.390625vw);
    letter-spacing: -0.255px;
}

@media (max-width: 1200px) {
    
    .more-info-first , .more-info-second{
      min-height: 30vh;
    }

    .more-info h1 {
        font-size: 240%;
    }

  }


  @media(max-width: 900px){

    .info-section{
        margin-left: 5%;
        margin-right: 5%;
    }

    .fi, .sec-sec {
        padding: 0.5rem;
    }

    .more-info-first , .more-info-second{
        min-height: 30vh;
      }

      .more-info h1 {
        font-size: 170%;
    }

    .more-info span {
        font-size: 80%;
    }

    .btn-more-info, .btn-more-info-sec{
        height: 30px;
    }

  }

  /*SUBSCRIBE*/

  #subscribe-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #subscribe-section h4{
    color: #000;
    font-size: 14px;
  }

  #subscribe-section h2{
    color: black;
    font-size: 25px;
    padding: 10px 0;
    margin-left: 3%;
    margin-right: 3%;

  }

  #subscribe-section h2 span{
    color: #64befb;
  }

.button-normal{
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    width: 150px;
    height: 40px;
    padding: 6px;
    text-align: center;
    font-size: 0.9rem;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    .button-normal .text-visible,
    .button-normal .text-hidden {
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;

}

.button-normal .text-hidden {
    transform: translateY(100%);
    opacity: 0;
}

.button-normal:hover .text-visible {
    transform: translateY(-100%);
    opacity: 0;
}

.button-normal:hover .text-hidden {
    transform: translateY(0);
    opacity: 1;
}


  @media(max-width: 900px){
    #subscribe-section{
        margin-top: 5%;
        margin-bottom: 5%;
    }


    #subscribe-section h4{
        font-size: 120%;
      }
    
  #subscribe-section h2{
    font-size: 150%;
  }

  button.normal{
    width: 100px;
    height: 30px;
    padding: 4px;
    font-size: 0.6rem;
  }

  }


  @media(max-width: 500px){
    #subscribe-section{
        margin-top: 13%;
        margin-bottom: 13%;
    }

  }



  /*Footer*/

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  footer h4{
    font-size: 14px;
    padding-bottom: 10px;
  }

  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }

  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 5px;
  }

  footer .follow{
    margin-top: 20px;
  }

  footer .follow i{
    padding-right: 4px;
    cursor: pointer;
  }

  footer .install .row img{
    border: 1px solid;
    border-radius: 6px;
  }

  footer .install img{
    margin: 10px 0 15px 0px;
  }

  footer .follow i:hover{
    color: #64befb; 
  }
  
  footer p{
    color: #000;
    margin-bottom: 0px;
  }
  
 
.section-p5{
    padding: 40px 50px;
}
  



.section-p4, .section-p3, .info-section, .section-p2, .main-products-container, .hero {
    opacity: 0; /* Inicialmente, la sección está oculta */
    transform: translateY(20px); /* La sección se desplaza hacia abajo */
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
    /* Transición suave para opacity y transform durante 1 segundo */
    margin-bottom: 50px; /* Espacio entre las secciones */
}



.section-p4.active, .section-p3.active, .info-section.active, .section-p2.active, .main-products-container.active, .hero.active{
        opacity: 1; /* La sección aparecerá gradualmente */
        transform: translateY(0); /* La sección vuelve a su posición original */
}






